@{
    ViewData["Title"] = "OsUserChecker";

}

<form method="post">
    <p>
        <label>Введите имя пользователя:</label><br />
        <input type="text" name="name" />
    </p>

    <p><input type="submit" value="Проверить" /></p>
</form>